<a href="#" class="cart">
    <span class="title">{{ text_title }}</span>
    <span class="total">{{ text_items }}</span>
    <span class="notify">{{ text_total_item }}</span>
    <span class="icon vertical-center"><i class="fa fa-shopping-cart"></i></span>
</a>
{% if products or vouchers %}
  <ul class="cart-info hidden-xs list-unstyled">
      <li><p class="text-left"><b>{{ text_count_cart }}</b></p></li>
      <li class="cart-info-lists">
          <ul class="list-unstyled">
              {% for product in products %}
                  <li class="cart-list-item">
                      <div class="pull-left cart-list-item-image">
                          {% if product.thumb %}
                            <a onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="pull-left"><i class="fa fa-close" aria-hidden="true"></i></a> 
                            <a href="{{ product.href }}" class="pull-right">
                              <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                            </a> 
                          {% endif %}
                      </div>
                      <div class="pull-left cart-list-item-info">
                          <p class="p-name">{{ product.name }}</p>
                          <p class="p-rice">{{ text_price }}: {{ product.price }}</p>
                          <p>{{ text_quanties }}: x {{ product.quantity }}</p>
                      </div>   
                  </li>
              {% endfor %}   
          </ul>
      </li>
      <li class="cart-info-total">
          <ul class="list-unstyled">
            {% for total in totals %}
                <li>
                    <strong class="pull-left">{{ total.title }}</strong>
                    <strong class="pull-right">{{ total.text }}</strong>
                </li>
            {% endfor %}
          </ul>  
      </li>
      <li class="cart-info-checkout"></li>
  </ul>
{% else %}
  <ul class="cart-info hidden-xs">
      <p class="text-center">{{ text_empty }}</p>
  </ul>
{% endif %}
