<footer class="footer">
  <section class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
          <div id="address-box">
              <a href="#">
                  {% if logo %}
                    <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
                  {% else %}
                    <h2>{{ name }}</h2>
                  {% endif %}
              </a>
              <div id="address-list">
                  <p>
                    <span class="tit-name"><i class="fa fa-map-marker"></i> {{ text_address}}:</span>
                    <span class="tit-contain">{{ address }}</span>
                  </p>

                  <p>
                    <span class="tit-name"><i class="fa fa-phone"></i> {{ text_phone }}:</span>
                    <span class="tit-contain">{{ telephone }}</span>
                  </p>  

                  <p>
                    <span class="tit-name"><i class="fa fa-envelope"></i> {{ text_email }}:</span>
                    <span class="tit-contain">{{ email }}</span>
                  </p>    
              </div>
          </div> 
        </div>

        {% if informations %}
        <div class="col-sm-3 col-xs-12 col-sm-3 col-lg-3">
          <h5><b>{{ text_information }}</b></h5>
          <ul class="list-unstyled list-info">
          {% for information in informations %}
            <li><a href="{{ information.href }}">{{ information.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
          <h5><b>{{ text_account }}</b></h5>
          <ul class="list-unstyled list-info">
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 social">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fthanhtam.it2779%2F&tabs&width=290&height=220&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1008059442661946" width="340" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
      </div> 
    </div> 
  </section> 
  <section class="footer-bottom">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <p>{{ powered }}</p>
          </div>  
        </div>
    </div>
  </section>
</footer>
<div class="scroll-totop" id="to-top">
  <span class="fa fa-arrow-up"></span>
</div>

<div class="hidden-xs">
  <a class="click-phone" href="tel:{{ telephone }}">
    <div class="quick-alo-phone quick-alo-green quick-alo-show" id="quick-alo-phoneIcon" style="right: 5px; bottom: : 0px;">
      <div class="info topopup">
        <div class="quick-alo-ph-circle"></div>
        <div class="quick-alo-ph-circle-fill"></div>
        <div class="quick-alo-ph-img-circle"><i class="fa fa-phone" aria-hidden="true"></i></div>
      </div>
    </div>
  </a>
</div>

<!-- FILE CẤU HÌNH CỦA OPENCART -->
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

<!-- FILE CẤU HÌNH CỦA OPENCART -->
<script src="public/assets/js/my-js.js" type="text/javascript"></script>

<!-- SLIDER JSSOR -->
<script src="public/plugins/slider/jssor/jssor.slider.min.js" type="text/javascript"></script>

<!-- CAROUSEL -->
<script src="public/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>