{# HEADER #}
{{ header }}

{# SLIDER #}
{% if slider %}
  {{ slider }}
{% endif %}

{# BANNER #}
{% if banner %}
  {{ banner }}
{% endif %}

<main class="middle">
  <div class="container">
    <div class="row">
    
    {# COLUMN LEFT #}
    {{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}

    {# CONTENT : CONTENT TOP + CONTENT RIGHT #}
    <div id="content" class="{{ class }}">
        {# CONTENT TOP #}
        {{ content_top }}

        {# CONTENT BOTTOM #}
        {{ content_bottom }}
    </div>
    
    {# COLUMN RIGHT #}
    {{ column_right }}
    </div>
  </div>
</main>
{# FOOTER #}
{{ footer }}