{# HEADER #}
{{ header }}

{# SLIDER #}
{% if slider %}
  {{ slider }}
{% endif %}

{# BANNER #}
{% if banner %}
  {{ banner }}
{% endif %}

<main class="main clearfix">      
    {% if not column_left and not column_right %}
      
      {# CONTENT : CONTENT TOP + CONTENT BOTTOM #}
        {# CONTENT TOP #}
        {{ content_top }} 

        {# CONTENT BOTTOM #}
        {{ content_bottom }}  

    {% elseif column_left and column_right %}
        {% set class = 'col-sm-6' %}
        <div class="container">
          <div class="row">
              {# COLUMN LEFT #}
              {{ column_left }}
              
              <div id="content" class="{{ class }}">
                {# CONTENT TOP #}
                {{ content_top }} 

                {# CONTENT BOTTOM #}
                {{ content_bottom }} 
              </div>
              
              {# COLUMN RIGHT #}
              {{ column_right }}
          </div>
    {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        <div class="container">
          <div class="row">
              {# COLUMN LEFT #}
              {{ column_left }}
              
              <div id="content" class="{{ class }}">
                {# CONTENT TOP #}
                {{ content_top }} 

                {# CONTENT BOTTOM #}
                {{ content_bottom }} 
              </div>
              
              {# COLUMN RIGHT #}
              {{ column_right }}
          </div>
    {% endif %}     
</main>
{# FOOTER #}
{{ footer }}