{% if categories %}
    <ul class="horizontal-center">
      {% for category in categories %}
        {% if category.children %}
          <li class="has-sub"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }} <i class="fa fa-angle-down" aria-hidden="true"></i>
</a>
              <ul>
                {% for children in category.children %}
                    <li><a href="{{ children.href }}">{{ children.name }}</a></li>
                {% endfor %}
              </ul>
          </li>
        {% else %}
          <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
{% endif %} 