{% if categories %}
    <ul class="horizontal-center">
      {% for category in categories %}
        {% if category.children %}
          <li>
            <a title="{{ children.name }}" href="{{ category.href }}">{{ category.name }}
</a>
              <ul>
                {% for children in category.children %}
                    <li><a href="{{ children.href }}">{{ children.name }}</a></li>
                {% endfor %}
              </ul>
          </li>
        {% else %}
          <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
{% endif %} 