{{ custom_banner }}
{% if banners %}
    {% for banner in banners %}

      {# VỊ TRÍ CUSTOM_BANNER #}
      {% if position == 'custom_banner' %}
        <div class="col-md-4 col-sm-6">
          <div class="custom-banner box-{{ module }} vertical-center">
              <img alt="{{ banner.title }}" class="img-responsive banner-image" src="{{ banner.image }}" />
              <p class="custom-banner-content">
                  <a class="custom-banner-title" href="{{ banner.link }}" title="{{ banner.title }}">{{ banner.title }}</a>
              </p>
          </div>
        </div>

      {# VỊ TRÍ CONTENT_TOP #}
      {% elseif position == 'content_top' %}

      {% endif %}

      {# MẶC ĐỊNH #}

    {% endfor %}  
{% endif %}
