{% if banners %}
      {# VỊ TRÍ CUSTOM_BANNER #}
      {% if position == 'custom_banner' %}
        {% for key,banner in banners %}
          {% if key == 2  %}
            {% set break = true %}
          {% endif %}
          <div class="col-md-4 col-sm-6 col-xs-4">
            <div class="custom-banner box-{{ module }} vertical-center">
                <img alt="{{ banner.title }}" class="img-responsive banner-image" src="{{ banner.image }}" />
                <p class="custom-banner-content hidden-xs">
                    <a class="custom-banner-title" href="{{ banner.link }}" title="{{ banner.title }}">{{ banner.title }}</a>
                </p>
            </div>
          </div>
        {% endfor %}  
      
      {# VỊ TRÍ CONTENT_TOP - CONTENT_BOTTOM #}
      {% elseif position == 'content_top' or position == 'content_bottom' %}
          
      {# VỊ TRÍ COLUMN_LEFT - COLUMN_RIGHT #}
      {% elseif position == 'column_left' or position == 'column_right' %}
            <div class="box-{{ module }} vertical-center owl-carousel" data-loop="true" data-nav="false" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-items="1" data-autoplay="true">
                {% for banner in banners %}
                    <a href="{{ banner.link }}" title="{{ banner.title }}"><img alt="{{ banner.title }}" class="img-responsive" src="{{ banner.image }}" /></a>  
                {% endfor %}
            </div>
      {% endif %}

{% endif %}
