{% if group_products %}
<div class="product-tabs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="product-tab">
                    <ul class="nav-product-tabs list-inline" role="tablist">
                        {% for key, group_product in group_products %} 
                            {% if group_product.products is empty %} 
                                {% set continue = true %}
                            {% endif %}
                            <li><a href="#{{ key }}" data-toggle="tab" aria-expanded="true">{{ group_product.heading_title }}</a></li>    
                        {% endfor %}                  
                    </ul>
                    <div class="tab-content">
                        {% for id, group_product in group_products %}
                            <div role="tabpanel" class="tab-pane fade" id="{{ id }}">
                                <div class="display-product-tab-list">
                                    {% for product in group_product.products %}
                                        <div class="item text-center col-sm-3">                      
                                            <a href="{{ product.href }}"><img src="{{ product.thumb }}" class="img-responsive" /></a>
                                        </div>
                                    {% endfor %}    
                                </div>    
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.nav-product-tabs li:first-child').addClass('active') ;
        $('.tab-content div.tab-pane:first-child').addClass('active in') ;
    });
</script>
{% endif %}
  