{% if position == 'column_left' or position == 'column_right' %}
    {% if products %}
    <div class="box-block">
      <h4 class="box-heading">{{ heading_title }}</h4>
      <ul class="box-content">
          {% for product in products %}
              <li class="product-vertical">
                  <div class="product-image pull-left">
                      <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                  </div>
                  <div class="product-info">
                      <p class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></p>
                      {% if not product.special %}
                          <p class="product-price">{{ product.price }}</p>
                      {% else %}
                          <p class="product-price">{{ product.special }}</p>
                          <p class="product-old">{{ product.price }}</p>
                      {% endif %}  
                  </div>
              </li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}
{% endif %}